:root {
  --main: #3729b2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Fira Code, sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #fff 35%, var(--main) 35%);
}
.ball {
  position: absolute;
  top: 5px;
  left: 150px;
  background-color: #0fd99b;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: -1;
}
.container {
  width: 1400px;
  height: 800px;
  margin: 5em auto 0 auto;
  display: flex;

  background-color: #fff;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main);
  width: 30%;
  padding: 40px;
  color: #fff;
  .nav {
    h1 {
      padding: 15px;
    }
    ul {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      list-style: none;
      li {
        margin: 30px 0;
        font-size: 17px;
        a {
          color: #fff;
          text-decoration: none;
          color: #ffffffba;
          font-weight: 100;
          padding: 10px 20px;
          &.active {
            background-color: #ffffff21;
            border-radius: 5px;
          }
        }
      }
    }
  }
  .info {
    span {
      &:first-child {
        color: #ffffff6b;
      }
      &:last-child {
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        &:after {
          content: "-->";
          margin: 0 10px;
        }
      }
    }
    h2 {
      font-size: 26px;
      margin: 10px 0;
    }
    p {
      margin: 30px 0;
      font-size: 14px;
      color: #ffffffde;
    }
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 40px;
  .form {
    width: 50%;
    h2 {
      font-size: 30px;
      font-weight: 100;
    }
    span {
      width: 200px;
      display: block;
      color: #00000047;
      font-weight: 500;
      margin: 10px 0;
      font-size: 24px;
    }
    form {
      margin-top: 100px;
      input,
      textarea {
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
        display: block;
        width: 100%;
        margin: 40px 0;
        font-size: 17px;
        resize: none;
        font-weight: 100;
        &:focus {
          outline: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        }
      }
      button {
        background-color: transparent;
        border: 0;
        width: fit-content;
        color: var(--main);
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        &:before {
          content: "\f1d8";
          display: inline-block;
          margin: 0 10px;
          font: normal normal normal 14px/1 FontAwesome;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  .addr {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.7);
      margin: 30px 0;
    }
    a {
      font-size: 15px;
      color: var(--main);
      text-decoration: none;
      margin: 10px 0;
    }
  }
}
